* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans';
}

body {
  width: 100%;
  background-color: hsl(0, 0%, 98%);
}

.nav-section {
  display: flex;
  padding: 30px 70px;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.nav-section button {
  padding: 10px;
  cursor: pointer;
}

.search-section {
  z-index: 1;
  margin: 5%;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

h1 {
  font-size: 20px;
  font-weight: 900;
}

h5 {
  font-size: 15px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 900;
  padding-bottom: 10px;
}

p {
  font-size: 12px;
  font-weight: 600;
}


.form-control {
  width: 100%;
  border-radius: 5px;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
}

.form-control i {
  opacity: 0.5;
  padding: 25px;
}

input[type="text"] {
  opacity: 0.5;
  border: none;
  padding: 15px;
}

button {
  border: none;
  display: block;
  background-color: #ffffff;
}

.dropDown {
  width: 230px;
  margin: 0 3%;
  z-index: 1;
  position: absolute;
  top: 160px;
  right: 40px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 98%);
}

.drop {
  display: flex;
  margin-bottom: 2%;
  padding: 20px;
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.continents {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.show-list {
  display: none;
}

.continents p {
  padding-bottom: 8px;
  cursor: pointer;
}

#country {
  top: 200px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  padding:2%;
  position: absolute;
}

#countries-section {
 margin: 10%;
}

#countries-section img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0 0;
}

.country-details {
  padding: 20px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.country-details p>strong {
  font-size: 13px;
}

.country-details p {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 5px;
}

@media screen and (max-width: 426px) {
  .nav-section {
    display: flex;
    padding: 30px 15px;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  }
  
  .search-section {
    margin: 7% 5%;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  }
  
  h1 {
    font-size: 15px;
    font-weight: 900;
  }
  
  h5 {
    font-size: 12px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 16px;
    font-weight: 900;
    padding-bottom: 10px;
  }
  
  p {
    font-size: 12px;
    font-weight: 600;
  }
  
  .form-control {
    padding: 3px;
    border-radius: 5px;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
  }
  
  .form-control i {
    opacity: 0.5;
    padding: 20px;
  }
  
  input[type="text"] {
    opacity: 0.5;
    border: none;
    padding: 20px;
  }
  
  button {
    border: none;
    background-color: #ffffff;
  }
  
  .dropDown {
    width: 230px;
    margin: 0 5%;
    top: 200px;
    left: 0;
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
  }
  
  .drop {
    display: flex;
    margin-bottom: 2%;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  }
  
  .continents {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  }
  
  .continents p {
    padding-bottom: 8px;
  }
  
  #country {
    margin-top: 5%;
    display: block;
    width: 100%;
    padding:5%;
  }
  
  #countries-section {
    width: 85%;
    margin: 15% auto;
  }
  
  #countries-section img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
  }
  
  .country-details {
    padding: 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  }
  
  .country-details p>strong {
    font-size: 13px;
  }
  
  .country-details p {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .search-section {
    margin: 5% 5%;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  }

  .dropDown {
    width: 230px;
    margin: 0 5%;
    top: 140px;
    right: 0;
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
  }

  #country {
    top: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding:2%;
    position: absolute;
  }
}

 /* .dark-effect {
  background-color: hsl(209, 23%, 22%)  !important;
  color: #ffffff !important;
}

.dark-elements {
  padding: 20px;
  color: #ffffff;
  background-color: hsl(209, 23%, 22%);
} */








